html, body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  padding: 1rem;
  background-color: rgb(240, 240, 240);
}

*, *::after, *::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.modal-content {
  font-size: 16px;
  margin: 0;
}
